* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: aliceblue;
    background-color: #323232;
}

.menu-fisso {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 6.7vh;
    justify-content: space-around;
    align-items: flex-end;
    background-color: rgb(108, 0, 0);
}

.menu-fisso a:hover {
    background-color: rgb(61, 93, 106);
    cursor: pointer;
    border-radius: 5px;
}

.menu-fisso a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: 500;
    transition: color 0.3s ease;
    margin-bottom: 0.1vh;
}

.presentazione {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: #323232;
}

.presentazione h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.presentazione p {
    font-size: 1.5rem;
    color: rgb(118, 118, 118);
}

.progetti {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: #9a9797;
}

.progetti h1 {
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.surveyForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: darkolivegreen;
    border-radius: 10px;
}

.documentazioneTecnica {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: darkslategrey;
    border-radius: 10px;
}

.contatti {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45vh;
}

.contatti p {
    font-size: 1.5rem;
    color: rgb(118, 118, 118);
}

.contatti h1 {
    font-size: 3.5rem;
    margin-bottom: 10rem;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
    padding: 1rem;
    margin-bottom: 2rem;
}